.currency-icon {
    display: inline-block;
    font-family: OvertimeIconsV2 !important;
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
}

.currency-icon--usdc::before {
    content: '\00B0';
}

.currency-icon--usdbc::before {
    content: '\00B0';
}

.currency-icon--usdce::before {
    content: '\00B0';
}

.currency-icon--usdt::before {
    content: '\00B1';
}

.currency-icon--eth::before {
    content: '\00B2';
}

.currency-icon--weth::before {
    content: '\00B3';
}

.currency-icon--arb::before {
    content: '\00B4';
}

.currency-icon--dai::before {
    content: '\00B5';
}

.currency-icon--op::before {
    content: '\00B6';
}

.currency-icon--susd::before {
    content: '\00F8';
}

.currency-icon--thales::before {
    content: '\00F9';
}
