.icon-exotic {
    display: inline-block;
    font-family: ExoticIcons !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon-exotic--right:before {
    content: '\004B';
}

.icon-exotic--down:before {
    content: '\004D';
}

.icon-exotic--link:before {
    content: '\004E';
}

.icon-exotic--right:before {
    content: '\004B';
}

.icon-exotic--down:before {
    content: '\004D';
}

.icon-exotic--link:before {
    content: '\004E';
}
