@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(../assets/fonts/Nunito/Nunito.ttf) format('truetype');
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: local('NunitoExtraBold'), url(../assets/fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Atma';
    src: local('Atma'), url(../assets/fonts/Atma/Atma-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'AtmaBold';
    src: local('AtmaBold'), url(../assets/fonts/Atma/Atma-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url(../assets/fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'OswaldBold';
    src: local('OswaldBold'), url(../assets/fonts/Oswald/Oswald-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'HomepageIconsV2';
    src: local('HomepageIconsV2'), url(../assets/fonts/HomepageIconsV2/HomepageIconsV2.ttf) format('truetype');
}

@font-face {
    font-family: 'OvertimeIconsV2';
    src: local('OvertimeIconsV2'), url(../assets/fonts/OvertimeIconsV2/OvertimeIconsV2.ttf) format('truetype');
}

@font-face {
    font-family: 'SpeedMarketsIcons';
    src: local('SpeedMarketsIcons'), url(../assets/fonts/SpeedMarketsIcons/SpeedMarketsIcons.ttf) format('truetype');
}

@font-face {
    font-family: 'SpeedMarketsLogoIcons';
    src: local('SpeedMarketsLogoIcons'), url(../assets/fonts/SpeedMarketsIcons/SpeedMarketsLogoIcons.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../assets/fonts/Inter/Inter-VariableFont_slntwght.ttf) format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: 'ThalesSidebarIcons';
    src: local('ThalesSidebarIcons'), url(../assets/fonts/ThalesSidebarIcons/ThalesSidebarIcons.ttf) format('truetype');
}

@font-face {
    font-family: 'Chains';
    src: local('Chains'), url(../assets/fonts/UniversalChains/chains.ttf) format('truetype');
}
