@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../assets/fonts/Roboto/Roboto.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoThin';
    src: local('RobotoThin'), url(../assets/fonts/Roboto/RobotoThin.ttf) format('truetype');
}

@font-face {
    font-family: 'ExoticIcons';
    src: local('ExoticIcons'), url(../assets/fonts/ExoticIcons/ExoticIcons.ttf) format('truetype');
}
