.icon-homepage {
    display: inline-block;
    font-family: HomepageIconsV2 !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon--x:before {
    content: '\0021';
}

.icon--wallet::before {
    content: '\0026';
}

.icon--arrow-left:before {
    content: '\0028';
}

.icon--arrow-right:before {
    content: '\0029';
}

.icon--visa::before {
    content: '\002A';
}

.icon--master::before {
    content: '\002B';
}

.icon--googlepay::before {
    content: '\002C';
}

.icon--applepay::before {
    content: '\002D';
}

.league--nba:before {
    content: '\0041';
}

.league--ncaa:before {
    content: '\0042';
}

.league--wnba:before {
    content: '\0043';
}

.league--nhl:before {
    content: '\0044';
}

.league--motogp:before {
    content: '\0045';
}

.league--f1:before {
    content: '\0046';
}

.league--mlb:before {
    content: '\0047';
}

.league--ufc:before {
    content: '\0048';
}

.league--nfl:before {
    content: '\0049';
}

.league--bundesliga:before {
    content: '\004A';
}

.league--epl:before {
    content: '\004B';
}

.league--fifa-world-cup:before {
    content: '\004C';
}

.league--la-liga:before {
    content: '\004D';
}

.league--ligue1:before {
    content: '\004E';
}

.league--mls:before {
    content: '\004F';
}

.league--serie-a:before {
    content: '\0050';
}

.league--ucl:before {
    content: '\0051';
}

.league--overtime:before {
    content: '\0052';
}

.league--j1:before {
    content: '\0053';
}

.league--uel:before {
    content: '\0054';
}

.league--atp:before {
    content: '\005C';
}

.league--dota2:before {
    content: '\0061';
}

.league--csgo:before {
    content: '\0062';
}

.league--lol:before {
    content: '\0063';
}

.league--ipl:before {
    content: '\0055';
}

.league--euroleague:before {
    content: '\0064';
}

.league--portugal:before {
    content: '\0056';
}

.league--copa-libertadores:before {
    content: '\0058';
}

.league--copa-eredivisie:before {
    content: '\0067';
}

.league--iihf:before {
    content: '\0065';
}

.league--fifa-world-cup-u20:before {
    content: '\0069';
}

.league--t20:before {
    content: '\005D';
}

.league--uefa-nations:before {
    content: '\006A';
}

.league--concacaf-nations:before {
    content: '\006B';
}

.league--wta:before {
    content: '\0068';
}

.league--pga:before {
    content: '\0069';
}

.icon-homepage--cn:before {
    content: '\004B';
}

.icon-homepage--en:before {
    content: '\004C';
}

.icon-homepage--ru:before {
    content: '\004D';
}
