.icon {
    display: inline-block;
    font-family: OvertimeIcons !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon--overtime:before {
    content: '\0041';
}

.icon--logo:before {
    content: '\0042';
}

.icon--history:before {
    content: '\0043';
}

.icon--soccer:before {
    content: '\0044';
}

.icon--basketball:before {
    content: '\0045';
}

.icon--volleyball:before {
    content: '\0046';
}

.icon--football:before {
    content: '\0047';
}

.icon--tennis:before {
    content: '\0048';
}

.icon--ufc:before {
    content: '\0049';
}

.icon--arrows-vertical:before {
    content: '\004A';
}

.icon--grid:before {
    content: '\004B';
}

.icon--list:before {
    content: '\004C';
}

.icon--baseball:before {
    content: '\004D';
}

.icon--hockey:before {
    content: '\004E';
}

.icon--motogp:before {
    content: '\0055';
}

.icon--wallet:before {
    content: '\0054';
}

.icon--profile:before {
    content: '\0050';
}

.icon--wizard:before {
    content: '\0057';
}

.icon--trivia:before {
    content: '\0058';
}

.icon--leaderboard:before {
    content: '\0059';
}

.icon--affiliate:before {
    content: '\005A';
}

.icon--close:before {
    content: '\0061';
}

.icon--bnb:before {
    content: '\0062';
}

.icon--arb:before {
    content: '\0063';
}

.icon--op:before {
    content: '\0064';
}

.icon--matic:before {
    content: '\0065';
}

.icon--eth:before {
    content: '\0066';
}

.icon--motosport:before {
    content: '\0056';
}

.icon--star-full:before {
    content: '\0057';
}

.icon--star-empty:before {
    content: '\0058';
}

.icon--favourites:before {
    content: '\0058';
}

.icon--cross-button:before {
    content: '\0059';
}

.icon--revert:before {
    content: '\005A';
}

.icon--triple-arrow:before {
    content: '\005B';
}

.icon--arrow:before {
    content: '\005D';
}

.icon--cross-button-arrow:before {
    content: '\006B';
}
