.icon {
    display: inline-block;
    font-family: OvertimeIconsV2 !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon--overtime-sportsbook:before {
    content: '\0022';
}

.icon--brackets::before {
    content: '\0023';
}

.icon--thales-logo::before {
    content: '\0026';
}

.icon--wrong-full::before {
    content: '\0028';
}

.icon--correct-full::before {
    content: '\0029';
}

.icon--aussierules:before {
    content: '\002A';
}

.icon--politics:before {
    content: '\002E';
}

.icon--stats:before {
    content: '\002F';
}

.icon--hide:before {
    content: '\0030';
}

.icon--wrong:before {
    content: '\0031';
}

.icon--toggle-right:before {
    content: '\0032';
}

.icon--toggle-left:before {
    content: '\0033';
}

.icon--correct:before {
    content: '\0034';
}

.icon--wallet-connected::before {
    content: '\0035';
}

.icon--wallet-disconnected::before {
    content: '\0036';
}

.icon--odds::before {
    content: '\0037';
}

.icon--filters::before {
    content: '\0038';
}

.icon--pendingmarkets::before {
    content: '\0039';
}

.icon--resolvedmarkets::before {
    content: '\003A';
}

.icon--canceled::before {
    content: '\003B';
}

.icon--cricket::before {
    content: '\003C';
}

.icon--esports::before {
    content: '\003D';
}

.icon--swag::before {
    content: '\003e';
}

.icon--golf::before {
    content: '\003F';
}

.icon--promotions:before {
    content: '\0040';
}

.icon--overtime:before {
    content: '\0102';
}

.icon--logo:before {
    content: '\0021';
}

.icon--history:before {
    content: '\0043';
}

.icon--soccer:before {
    content: '\0044';
}

.icon--basketball:before {
    content: '\0045';
}

.icon--volleyball:before {
    content: '\0046';
}

.icon--football:before {
    content: '\0047';
}

.icon--tennis:before {
    content: '\0048';
}

.icon--fighting:before {
    content: '\0049';
}

.icon--arrows-vertical:before {
    content: '\004A';
}

.icon--grid:before {
    content: '\004B';
}

.icon--list:before {
    content: '\004C';
}

.icon--baseball:before {
    content: '\004D';
}

.icon--hockey:before {
    content: '\004E';
}

.icon--burger-icon:before {
    content: '\004F';
}

.icon--profile:before {
    content: '\0050';
}

.icon--warning::before {
    content: '\0052';
}

.icon--wallet:before {
    content: '\0054';
}

.icon--motogp:before {
    content: '\0055';
}

.icon--motosport:before {
    content: '\0056';
}

.icon--star-full:before {
    content: '\0057';
}

.icon--favourites:before {
    content: '\0058';
}

.icon--cross-button:before {
    content: '\0059';
}

.icon--revert:before {
    content: '\005A';
}

.icon--triple-arrow:before {
    content: '\005B';
}

.icon--get-thales::before {
    content: '\005C';
}

.icon--stake-thales::before {
    content: '\005F';
}

.icon--wizard:before {
    content: '\0061';
}

.icon--trivia:before {
    content: '\0062';
}

.icon--leaderboard:before {
    content: '\0063';
}

.icon--affiliate:before {
    content: '\0064';
}

.icon--close:before {
    content: '\0065';
}

.icon--bnb:before {
    content: '\0066';
}

.icon--arb:before {
    content: '\0067';
}

.icon--op:before {
    content: '\0068';
}

.icon--matic:before {
    content: '\0069';
}

.icon--eth:before {
    content: '\006A';
}

.icon--cross-button-arrow:before {
    content: '\006B';
}

.icon--arrow-external::before {
    content: '\006C';
}

.icon--arrow-down::before {
    content: '\006D';
}

.icon--arrow-up::before {
    content: '\006E';
}

.icon--claimable-flag::before {
    content: '\006F';
}

.icon--risks::before {
    content: '\0071';
}

.icon--strategy::before {
    content: '\0074';
}

.icon--fee-rebates::before {
    content: '\0075';
}

.icon--fifa-world-cup::before {
    content: '\0076';
}

.icon--lost::before {
    content: '\0078';
}

.icon--win::before {
    content: '\0079';
}

.icon--open::before {
    content: '\007A';
}

.icon--parlay::before {
    content: '\007B';
}

.icon--competition::before {
    content: '\007C';
}

.icon--exchange::before {
    content: '\007D';
}

.icon--card::before {
    content: '\007E';
}

.icon--op-rewards::before {
    content: '\00A9';
}

.icon--thales-rewards::before {
    content: '\00AA';
}

.icon--liquidity-pool::before {
    content: '\00AE';
}

.icon--base:before {
    content: '\00C0';
}

.icon--playerprops:before {
    content: '\00C2';
}

.icon--clear:before {
    content: '\00D4';
}

.icon--caret-down:before {
    content: '\00D5';
}

.icon--filters2::before {
    content: '\00D7';
}

.icon--double-check:before {
    content: '\00D8';
}

.icon--sports:before {
    content: '\00D9';
}

.icon--history:before {
    content: '\00DA';
}

.icon--ticket-loss:before {
    content: '\00DC';
}

.icon--ongoing:before {
    content: '\00DE';
}

.icon--ticket-open:before {
    content: '\00DF';
}

.icon--pause:before {
    content: '\00E0';
}

.icon--ticket-horizontal:before {
    content: '\00E1';
}

.icon--profile2:before {
    content: '\00E2';
}

.icon--caret-right:before {
    content: '\00E4';
}

.icon--search:before {
    content: '\00E5';
}

.icon--settings:before {
    content: '\00E6';
}

.icon--ticket:before {
    content: '\00E8';
}

.icon--tour:before {
    content: '\00E9';
}

.icon--caret-up:before {
    content: '\00EA';
}

.icon--ticket-win:before {
    content: '\00ED';
}

.icon--yield:before {
    content: '\00EE';
}

.icon--open-ticket:before {
    content: '\00EF';
}

.icon--three-column:before {
    content: '\00F0';
}

.icon--copy:before {
    content: '\00F1';
}

.icon--qr-code:before {
    content: '\00F3';
}

.icon--claimable-ticket:before {
    content: '\00F5';
}

.icon--logged-in:before {
    content: '\00F6';
}

.icon--clock:before {
    content: '\00F7';
}

.icon--futures:before {
    content: '\00F7';
}

.icon--wallet2:before {
    content: '\00FA';
}

.icon--gift:before {
    content: '\00FB';
}

.icon--profile3:before {
    content: '\00FC';
}

.icon--apple:before {
    content: '\010E';
}

.icon--discord:before {
    content: '\0110';
}

.icon--github:before {
    content: '\0112';
}

.icon--google:before {
    content: '\011A';
}

.icon--waterpolo:before {
    content: '\00FD';
}

.icon--handball:before {
    content: '\00FF';
}

.icon--rugby:before {
    content: '\0100';
}

.icon--tabletennis:before {
    content: '\0101';
}

.icon--darts::before {
    content: '\0108';
}

.icon--lock:before {
    content: '\0121';
}

.icon--controller:before {
    content: '\011D';
}

.icon--calculator:before {
    content: '\0120';
}

.icon--book:before {
    content: '\011E';
}

.icon--x-twitter:before {
    content: '\011F';
}

.icon--fire:before {
    content: '\002C';
}

.icon--resources:before {
    content: '\0122';
}

.icon--info::before {
    content: '\011B';
}

.icon--sorting::before {
    content: '\0192';
}

.icon--hands-coins::before {
    content: '\0124';
}

.icon--thales:before {
    content: '\0104';
}

.icon--over:before {
    content: '\0125';
}

.icon--sol::before {
    content: '\00B9';
}
