.icon {
    display: inline-block;
    font-family: OvertimeIcons !important;
    vertical-align: middle;
    font-size: 20px;
}

.icon--hide:before {
    content: '\0030';
}

.icon--wrong:before {
    content: '\0031';
}

.icon--toggle-right:before {
    content: '\0032';
}

.icon--toggle-left:before {
    content: '\0033';
}

.icon--correct:before {
    content: '\0034';
}


.icon--overtime:before {
    content: '\0041';
}

.icon--logo:before {
    content: '\0042';
}

.icon--history:before {
    content: '\0043';
}

.icon--soccer:before {
    content: '\0044';
}

.icon--basketball:before {
    content: '\0045';
}

.icon--volleyball:before {
    content: '\0046';
}

.icon--football:before {
    content: '\0047';
}

.icon--tennis:before {
    content: '\0048';
}

.icon--ufc:before {
    content: '\0049';
}

.icon--arrows-vertical:before {
    content: '\004A';
}

.icon--grid:before {
    content: '\004B';
}

.icon--list:before {
    content: '\004C';
}

.icon--baseball:before {
    content: '\004D';
}

.icon--hockey:before {
    content: '\004E';
}

.icon--motogp:before {
    content: '\0055';
}

.icon--wallet:before {
    content: '\0054';
}

.icon--profile:before {
    content: '\0050';
}

.icon--wizard:before {
    content: '\0061';
}

.icon--trivia:before {
    content: '\0062';
}

.icon--leaderboard:before {
    content: '\0063';
}

.icon--affiliate:before {
    content: '\0064';
}

.icon--close:before {
    content: '\0065';
}

.icon--bnb:before {
    content: '\0066';
}

.icon--arb:before {
    content: '\0067';
}

.icon--op:before {
    content: '\0068';
}

.icon--matic:before {
    content: '\0069';
}

.icon--eth:before {
    content: '\006A';
}

.icon--motosport:before {
    content: '\0056';
}

.icon--star-full:before {
    content: '\0057';
}

.icon--star-empty:before {
    content: '\0058';
}

.icon--favourites:before {
    content: '\0058';
}

.icon--cross-button:before {
    content: '\0059';
}

.icon--revert:before {
    content: '\005A';
}

.icon--triple-arrow:before {
    content: '\005B';
}

.icon--arrow:before {
    content: '\005D';
}

.icon--cross-button-arrow:before {
    content: '\006B';
}

.icon--arrow-external::before {
    content: '\006C';
}

.icon--arrow-down::before {
    content: '\006D';
}

.icon--arrow-up::before {
    content: '\006E';
}

.icon--claimable-flag::before {
    content: '\006F';
}

.icon--fee-rebates::before {
    content: '\0075';
}

.icon--fifa-world-cup::before {
    content: '\0076';
}

.icon--discount-vault::before {
    content: '\0070';
}

.icon--degen-discount-vault::before {
    content: '\0072';
}

.icon--safu-discount-vault::before {
    content: '\0073';
}

.icon--strategy::before {
    content: '\0074';
}

.icon--risks::before {
    content: '\0071';
}

.icon--vaults::before {
    content: '\0077';
}

.icon--lost::before {
    content: '\0078';
}

.icon--win::before {
    content: '\0079';
}

.icon--open::before {
    content: '\007A';
}

.icon--odds::before {
    content: '\0037';
}

.icon--filters::before {
    content: '\0038';
}

.icon--pendingmarkets::before {
    content: '\0039';
}

.icon--resolvedmarkets::before {
    content: '\003A';
}

.icon--canceled::before {
    content: '\003B';
}

.icon--wallet-connected::before {
    content: '\0035';
}

.icon--wallet-disconnected::before {
    content: '\0036';
}

.icon--parlay::before {
    content: '\007B';
}

.icon--competition::before {
    content: '\007C';
}

.icon--exchange::before {
    content: '\007D';
}

.icon--card::before {
    content: '\007E';
}
