.league {
    display: inline-block;
    font-family: LeagueIcons !important;
}
.icon-league {
    display: inline-block;
    font-family: LeagueIcons !important;
    vertical-align: middle;
    font-size: 20px;
}

.league--nba:before {
    content: '\0041';
}

.league--ncaa:before {
    content: '\0042';
}

.league--wnba:before {
    content: '\0043';
}

.league--nhl:before {
    content: '\0044';
}

.league--motogp:before {
    content: '\0045';
}

.league--f1:before {
    content: '\0046';
}

.league--mlb:before {
    content: '\0047';
}

.league--ufc:before {
    content: '\0048';
}

.league--nfl:before {
    content: '\0049';
}

.league--bundesliga:before {
    content: '\004A';
}

.league--epl:before {
    content: '\004B';
}

.league--fifa-world-cup:before {
    content: '\004C';
}

.league--la-liga:before {
    content: '\004D';
}

.league--ligue1:before {
    content: '\004E';
}

.league--mls:before {
    content: '\004F';
}

.league--serie-a:before {
    content: '\0050';
}

.league--ucl:before {
    content: '\0051';
}

.league--overtime:before {
    content: '\0052';
}

.league--j1:before {
    content: '\0053';
}

.league--uel:before {
    content: '\0054';
}

.league--atp:before {
    content: '\005C';
}

.league--dota2:before {
    content: '\0061';
}

.league--csgo:before {
    content: '\0062';
}

.league--lol:before {
    content: '\0063';
}
