/* react-toastify notifications */
#root {
    --toastify-text-color-light: #5f6180;
    --toastify-spinner-color: #5f6180;
    --toastify-spinner-color-empty-area: #e1d9e7;
}

/* react-modal */
.ReactModal__Body--open {
    overflow-y: hidden;
}

.MuiMenu-paper {
    background: #303656 !important;
    border: none !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px !important;
    color: #f6f6fe !important;
}

.MuiListItem-button:hover {
    background-color: #252940 !important;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
    background-color: #1e2134 !important;
}

@media (max-width: 512px) {
    .MuiDialog-paper {
        margin: 10px !important;
    }
}

.odd-toast {
    color: #ffffff !important;
    background-color: #5f6180 !important;
}

.odd-toast-body {
    color: #ffffff !important;
    background-color: #5f6180 !important;
}
