/* react-toastify notifications */
#root {
    --toastify-text-color-light: #3c498a;
    --toastify-spinner-color: #3c498a;
    --toastify-spinner-color-empty-area: #9fa1ba;
}

/* react-modal */
.ReactModal__Body--open {
    overflow-y: hidden;
}
.ReactModal__Overlay--after-open {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.odd-toast {
    color: #ffffff !important;
    background-color: #3c498a !important;
}

.odd-toast-body {
    color: #ffffff !important;
    background-color: #3c498a !important;
}

.small-checkbox {
    span {
        width: 16px;
        height: 16px;
    }
}

.small-checkbox span::after {
    left: 4px;
    top: -1px;
    width: 2px;
    height: 10px;
}
